.circle {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  border: 3px solid #eee;
}

.checkmark {
  cursor: pointer;
}

.checkmark:hover * {
  border-color: #ddd;
}

.tick {
  content: "";
  position: absolute;
  border: solid #eee;
  margin-top: 8px;
  margin-left: 11px;
  width: 5px;
  height: 10px;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.todoItemLabel {
  font-size: 25px;
  margin: 10px 0 0 40px;
}

.list {
  padding: 0;
  list-style-type: none;
}

.list_item {
  padding: 5px;
  border-bottom: black solid 1px;
  display: block;
  overflow: hidden;
}

input[type=number] {
  font-size: 20px;
  width: 100px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.newItemInput {
  font-size: 20px;
  margin: 10px 0 0 40px;
}

.insertNewButton {
  font-size: 20px;
}

.close {
  size: 20px;
  cursor: pointer;
}
